body {
    background-color: black;
    color: white;
    font-family: monospace;
}
.main {
    max-width: 666px;
    height: 100%;
    padding: 20px;
    margin: auto;
}
.socials {
    display: inline-block;
    width: 24px;
    padding: 5px;
}
a {
    color: white;
    text-decoration: underline;
}
a:hover {
    text-decoration: underline;
    color: #888;
}
.code {
    background-color: #444;
    color: white;
    padding: 10px;
    overflow-x: auto;
    white-space: pre-wrap;
	word-wrap: break-word;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.title {
    text-decoration: none;
    color: white;
    margin: auto;
}